services:
  frontend:
    build: .
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
      - /etc/letsencrypt/live/starmotorslogistics.com/fullchain.pem:/etc/nginx/ssl/fullchain.pem
      - /etc/letsencrypt/live/starmotorslogistics.com/privkey.pem:/etc/nginx/ssl/privkey.pem
    restart: unless-stopped
